body{
    margin: 25px;
}
.parent{
    padding:4%;  
    /* margin:2%; */
    border:1px solid green;
    background-color: purple;
    /* create a flexible container which makes item flexible */
    display: flex;
    height: 100%;
    /* Aligning flexible  items horizontally */
    justify-content: center;
    /* alignig flexible item vertically */
    align-items: center;
    /* flex-direction: column;    used align item in coloumn */
}

.child{
    display:flex;
    background-color: orange;
    border:1px solid lightblue;
    margin:2%;
    height:150px;
    font-weight: bold;
    font-style: normal;
    width:150px;
    justify-content: center;
    align-items: center;

}

.hide{
    /* display: none; */
    /* visibility:hidden; */
}

.position{
    /* here element is in relative position of itself */
    /* element remember its original position inspite of being pulled off from document object model */
    position: relative;
    left: 20px;
    top:30px;
}
