.title{
    background-color: lightskyblue;
    border: 1px groove lightslategray;
    text-align: center;
    text-decoration-style: solid;
    text-shadow: 0mm;
    border-bottom: 5px darkslateblue;
    border-radius: 5px;
    padding: 10px;
    padding-left:0;
    margin:20px;
    margin-left:0;

}

.container{
    background-color: lightgoldenrodyellow;
    background-size: cover;

}
.maindatory_fields{
    font-weight: bold;
}

.header{
    height: 200px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-image: url("https://w0.peakpx.com/wallpaper/122/734/HD-wallpaper-dark-sexy-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}

/* Apply this query when mobile width is between 600 to 1000 */
@media screen and (max-width:601px) and (max-width:1000px){

    .title{
        border: lightcyan;
        font-size: 30px;

    }

    .header{
        text-decoration-color: azure;
        text-emphasis:inherit;
    }
    .container{
        background-color: lightblue;
        font-size: 30px;
    }
    
}
/* Apply this query when mobile width is max 700 */

@media screen and (max-width:600px) {

    .title{
        background-color: azure;
        font-size: 30px;
    }
    .container{
        background-color: lightblue;
        font-size: 30px;
    }
    
}