/*using id selector*/

#h2Title{
   font-size: larger;
   font-family: 'Courier New', Courier, monospace;
   color:cadetblue;
}
/*using universal selector*/
*{
    font-family: 'Courier New', Courier, monospace;
}

/*using class selector*/
.mandatory_fields{

    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: calc();
    color: crimson;
}

.title{
    background-color:lightgray;
    border: 1px groove paleturquoise;
    padding: 10px;
    padding-left: 0;
    margin: 20px;
    margin-left: 0;


}

.header{
    height:200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://miro.medium.com/max/1400/1*Gw5XgziwzQlefn2pcY3Q7g.jpeg");
}